ins {
    text-decoration: none !important;
    background-color: #d4fcbc!important;
}

del {
    text-decoration: line-through!important;
    background-color: #fbb6c2!important;
    color: #555!important;
}